<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <title>Eatwell - Make The World A Tastier Place</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/sidebar') %>
    <main>
      <h1>Page not found!</h1>
      <p>요청하신 페이지를 찾지 못했습니다.</p>
    </main>
  </body>
</html>
