<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <title>Eatwell - Make The World A Tastier Place</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/sidebar') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>서버가 요청을 이행하지 못했습니다.</p>
    </main>
  </body>
</html>
